<div class="manage-page bg-while">
    <div class="container m-t-15">
        <div class="row">
            <div class="manage-left col-md-2 p-0">
                <div class="floating-box box-list">
                    <div class="list-menu">
                        <h3 class="m-0 p-0 p-l-10 p-b-10">Quản lý Banner</h3>
                        <ul class="p-0 m-0">
                            <li class="active "><a href="#">Banner</a>
                            </li>
                            <li><a href="/quan-ly-banner.html">Trở về</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 p-0">
                <div class="manage-right floating-box">
                    <div class="col-md-12">
                        <h3 class="title-page col-md-9 p-0">{{banner.name}}</h3>
                        <div>
                            <div class="pull-right">
                                <md-button class="btn-href-link p-0 m-10" ng-click="EditBanner();">Chỉnh sửa</md-button>
                                <md-button class="p-0 m-10" ng-click="RemoveBanner(banner._id);">Xóa</md-button>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="manage-form col-md-12">
                        <form class="frm-updateprofile p-15" novalidate name="frmViewBanner" rc-submit="submit()">
                            <div class="form-group" ng-class="{'has-error' : rc.frmViewBanner.needsAttention(frmViewBanner.name) }">
                                <label>Tên banner</label>
                                <input type="text" placeholder="Tên banner" class="form-control" name="name" ng-model="banner.name" required autocomplete="off" ng-disabled="!isEdit" /><span class="note-input-float">*</span> <span class="red" ng-show="rc.frmViewBanner.needsAttention(frmViewBanner.name)">Vui lòng nhập tên banner</span> </div>
                            <div class="form-group" ng-class="{'has-error' : rc.frmViewBanner.needsAttention(frmViewBanner.image) }">
                                <label>CDN Image</label>
                                <input type="text" class="form-control" ng-attr-placeholder="{{(banner.type=='slice') ? 'Kích thước 709 x 300' : (banner.type=='right') ? 'Kích thước 240 x 120' : (banner.type=='item') ? 'Kích thước 37 x 38' : 'Nhập hình ảnh'}}" name="image" ng-model="banner.image" required autocomplete="off" ng-disabled="!isEdit" /><span class="note-input-float">*</span> <span class="red" ng-show="rc.frmViewBanner.needsAttention(frmViewBanner.image)">Vui lòng nhập hình ảnh</span> </div>
                            <div class="form-group" ng-class="{'has-error' : rc.frmViewBanner.needsAttention(frmViewBanner.link_href) }">
                                <label>Link href</label>
                                <input type="text" class="form-control" placeholder="Nhập link" name="link_href" ng-model="banner.link_href" required autocomplete="off" ng-disabled="!isEdit" /><span class="note-input-float">*</span> <span class="red" ng-show="rc.frmViewBanner.needsAttention(frmViewBanner.link_href)">Vui lòng nhập link</span> </div>
                            <div class="form-group" ng-class="{'has-error' : rc.frmViewBanner.needsAttention(frmViewBanner.sequence) }">
                                <label>Thứ tự banner</label>
                                <input type="text" placeholder="Thứ tự banner" class="form-control" name="sequence" ng-model="banner.sequence" required autocomplete="off" ng-disabled="!isEdit" /><span class="note-input-float">*</span> <span class="red" ng-show="rc.frmViewBanner.needsAttention(frmViewBanner.sequence)">Vui lòng nhập thứ tự banner</span> </div>
                            <div class="form-group">
                                <label>Loại</label>
                                <md-radio-group ng-model="banner.type" class="type-radio">
                                    <md-radio-button class="none-float" value="slice" ng-disabled="!isEdit">Homepage - Slice Banner</md-radio-button>
                                    <md-radio-button class="none-float" value="right" ng-disabled="!isEdit">Homepage - Banner Right</md-radio-button>
                                    <md-radio-button class="none-float" value="item" ng-disabled="!isEdit">Homepage - Banner Item</md-radio-button>
                                    <md-radio-button class="none-float" value="limited" ng-disabled="!isEdit">Limited Area - Banner</md-radio-button>
                                    <md-radio-button class="none-float" value="guide" ng-disabled="!isEdit">Guide</md-radio-button>
                                    <md-radio-button class="none-float" value="guidemobile" ng-disabled="!isEdit">Guide Mobile</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <md-radio-group ng-model="banner.state" class="type-radio">
                                    <md-radio-button value="1" ng-disabled="!isEdit">Công bố</md-radio-button>
                                    <md-radio-button value="0" ng-disabled="!isEdit">Chưa công bố</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div class="form-group" ng-show="isEdit">
                                <md-button type="submit" ng-disabled="!isEdit" class="btn p-0 m-0 btn-submit">Lưu thông tin</md-button> <a ng-click="CloseFormOpen()" ng-disabled="!isEdit" class="btn-close btn">Hủy</a> </div>
                        </form>
                    </div>
                    <hr/> </div>
            </div>
        </div>
    </div>
</div>