<div class="profile-page bg-while m-t-15" ng-if="isnotMobile">
    <div class="container">
        <div class="row">
            <div class="profile-left myprofile-left col-md-2 p-l-0">
                <profile-menu-left></profile-menu-left>
            </div>
            <div class="myprofile-content border col-md-10 p-0">
                <div class="head-title">
                    <h3 class="title">CÀI ĐẶT BẢO MẬT</h3>
                </div>
                <div class="myprofile-content-form">
                    <form class="frm-updatepassword" novalidate name="frmUpdatepassword" rc-submit="submit()">
                        <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.fullname) }"> <label>Tên tài khoản</label> <span>{{session.fullname != "" ? session.fullname : session._id}}</span> </div>
                        <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.passwordold) || frmUpdatepassword.passwordold.$error.minlength }"> <label>Mật khẩu cũ</label> <input type="password" class="form-control" placeholder="Mật khẩu cũ *" name="passwordold" ng-model="session.passwordold" required ng-minlength="5" /><span class="note-input-float">*</span> <span ng-show="rc.frmUpdatepassword.needsAttention(frmUpdatepassword.passwordold)" class="m-t-10 floating-box m-b-10 red p-l-10">Mật khẩu phải có ít nhất 5 ký tự</span> </div>
                        <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.password) || frmUpdatepassword.password.$error.minlength }"> <label>Mật khẩu mới</label> <input type="password" class="form-control" placeholder="Mật khẩu mới *" name="password" ng-model="session.password" required ng-minlength="5" /><span class="note-input-float">*</span> <span ng-show="rc.frmUpdatepassword.needsAttention(frmUpdatepassword.password)" class="m-t-10 floating-box m-b-10 red p-l-10">Mật khẩu phải có ít nhất 5 ký tự</span> </div>
                        <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.rePassword) }"> <label>Nhập lại mật khẩu mới</label> <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới *" name="rePassword" ng-model="session.rePassword" compare-to="session.password" /><span class="note-input-float">*</span> <span ng-show="rc.frmUpdatepassword.needsAttention(frmUpdatepassword.rePassword)" class="m-t-5 floating-box m-b-5 red p-l-10">Mật khẩu không trùng khớp</span> </div>
                        <div class="form-group"> <label></label>
                            <md-button type="submit" class="btn p-0 m-0 btn-submit"> Lưu thay đổi </md-button>
                        </div>
                        <div class="form-group"> <label></label> <span class="err" ng-show="errorMsg">{{errorMsg}}</span><span class="success" ng-show="successMsg">{{successMsg}}</span> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-page-app bg-while" ng-if="isMobile">
    <div class="title-app">
        <div class="nav-header" ng-click="doTheBack()">Back</div>
        <h2>CÀI ĐẶT BẢO MẬT</h2>
    </div>
    <div class="myprofile-content-form">
        <form class="frm-updatepassword" novalidate name="frmUpdatepassword" rc-submit="submit()">
            <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.fullname) }"> <label>Tên tài khoản</label> <span>{{session.fullname}}</span> </div>
            <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.passwordold) || frmUpdatepassword.passwordold.$error.minlength }"> <label>Mật khẩu cũ</label> <input type="password" class="form-control" placeholder="Mật khẩu cũ *" name="passwordold" ng-model="session.passwordold" required ng-minlength="5" /> <span ng-show="rc.frmUpdatepassword.needsAttention(frmUpdatepassword.passwordold)" class="m-t-10 floating-box m-b-10 red p-l-10">Mật khẩu phải có ít nhất 5 ký tự</span> </div>
            <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.password) || frmUpdatepassword.password.$error.minlength }"> <label>Mật khẩu mới</label> <input type="password" class="form-control" placeholder="Mật khẩu mới *" name="password" ng-model="session.password" required ng-minlength="5" /> <span ng-show="rc.frmUpdatepassword.needsAttention(frmUpdatepassword.password)" class="m-t-10 floating-box m-b-10 red p-l-10">Mật khẩu phải có ít nhất 5 ký tự</span> </div>
            <div class="form-group" ng-class="{'has-error' : rc.frmUpdatepassword.needsAttention(frmUpdatepassword.rePassword) }"> <label>Nhập lại mật khẩu mới</label> <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới *" name="rePassword" ng-model="session.rePassword" compare-to="session.password" /> <span ng-show="rc.frmUpdatepassword.needsAttention(frmUpdatepassword.rePassword)" class="m-t-5 floating-box m-b-5 red p-l-10">Mật khẩu không trùng khớp</span> </div>
            <div class="form-group"> <label></label>
                <md-button type="submit" class="btn p-0 m-0 btn-submit"> Lưu thay đổi </md-button>
            </div>
            <div class="form-group"> <label></label> <span class="err" ng-show="errorMsg">{{errorMsg}}</span><span class="success" ng-show="successMsg">{{successMsg}}</span> </div>
        </form>
    </div>
</div>