<div class="forgot-page">
	<div class="visible-xs title-app">
		<a class="nav-header" href="/dang-nhap.html">Back</a>
		<h2>LẤY LẠI MẬT KHẨU?</h2>
	</div>
	<div class="header p-b-10">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="forgot-logo pull-left">
						<a href="/">
							<img src="/assets/images/themes/10K MARKET3-09.png" />
						</a>
					</div>
					<div class="forgot-href pull-right"> Bạn đã có tài khoản? 
						<a href="/dang-nhap.html">Đăng nhập tại đây</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>BẠN QUÊN MẬT KHẨU?</h3>
					<p>Nhập địa chỉ 
						<b class="red">email</b>, chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn.
					</p>
					<p>Nhập 
						<b class="red">số điện thoại</b>, chúng tôi sẽ gửi mã xác nhận và đặt lại mật khẩu của bạn. 
						<b class="red">1 số điện thoại chỉ có thể nhận 3 tin nhắn 1 ngày.</b>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 m-t-10" dw-loading="lazy-submit" dw-loading-options="{className: 'custom-loading', text : 'Đang xử lý yêu cầu...', spinnerOptions: {className: 'custom-spinner'}}">
					<form class="frm-signup" novalidate name="frmForgot" rc-submit="submit()">
						<div class="form-group" ng-class="{'has-error' : rc.frmForgot.needsAttention(frmForgot.email) || err_sever.token_email }">
							<input type="text" class="form-control" placeholder="Email hoặc sđt của bạn" name="email" ng-model="session.email" required autocomplete="off" />
							<span ng-show="err_sever.token_email || rc.frmForgot.needsAttention(frmForgot.email)" class="m-t-5 floating-box m-b-5 red p-l-10"> Không tìm thấy dữ liệu. </span>
						</div>
						<!-- <div class="form-group capcha-code m-0 floating-box" style="min-height:93px;" vc-recaptcha theme='light' key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()" lang='vi'></div>
						<span ng-show="err_sever_capcha" class="m-t-5 floating-box m-b-5 red p-l-10">Capcha không trùng khớp hoặc đã hết hạng</span>
						<span ng-show="err_client_capcha" class="m-t-5 floating-box m-b-5 red p-l-10">Vui lòng check kiểm tra bạn không phải là người máy</span> -->
						<div class="form-group m-t-10">
							<md-button type="submit" class="btn btn-danger p-0 m-0 btn-teamplate"> GỬI </md-button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>